<?xml version="1.0" encoding="UTF-8"?>

 <beans>
    <bean id ="triangle" class="com.stackroute.Traingle" name="triangle-name">
        <property name="pointA">
            <bean name = "zeroPoint">
                <property name="x" value="0"/>
                <property name="y" value="0"/>
            </bean>
        </property>
        <property name="pointB">
            <bean class ="com.stackroute.Point">
                <property name="x" value="-20"/>
                <property name="y" value="0"/>
            </bean>
        </property>
        <property name="pointC">
            <bean class ="com.stackroute.Point">
                <property name="x" value="20"/>
                <property name="y" value="0"/>
            </bean>
        </property>
    </bean>


</beans>